Makefile
Makefile.in
aclocal.m4
autom4te.cache/

build/*
!build/.gitkeep

config.h
config.h.in
config.h.in~
config.log
config.status
configure
pingd
src/*.o
src/.deps/
src/.dirstamp
src/util/*.o
src/util/.deps/
src/util/.dirstamp
!src/util/config.h
stamp-h1
